.cover-image {
    background-size: cover;
    height: 50vh;
    background-image: url('../images/cover.jpg');
}

.banner-image {
    background-size: cover;
    height: 50vh;
}

.mynavbar1 {
    height: 8vh;
}

.navbar-item-style {
    text-shadow: 1px 1px 3px #222;
}

.my-profile {
    -webkit-filter: drop-shadow(3px 3px 3px rgb(71, 71, 71));
    filter: drop-shadow(3px 3px 3px rgb(68, 68, 68));
}

.navbar-custom {
    background-color: #3b535f;
}

.navbar2-custom {
    background-color: transparent;
    height: 7vh;
}

.nav-item {
    width: 150px;
}
.navbar-nav .active a{
    color: white;
    background-color: #80B0CF;
}
.nav-item a:hover {
    color: #3B535F;
}
.nav-item a {
    color: #80B0CF;
}




.navbar2-custom {
    background-color: transparent;
    height: 7vh;
}


#newRestaurantButton{
    margin-bottom: 10px;
    
}

.newRestaurant{
    margin-right: 0;
    margin-left: auto; 
}

.checkbox-style {
    background-color: #3b535f;
    color: white;
    height: 40px;
    border-color: #3b535f;
    padding-top: 7px;
}

.padding-0 {
    padding-right: 3px;
    padding-left: 3px;
}

#tabs {
    background-color: #f2f2f2;
}


.navbar2-custom {
    background-color: transparent;
    padding: 0% 7%;
    height: 15vh;
}

.user-name {
    color: #3b535f;
    font-size: large;
    font-weight: 600;
    margin-bottom: 10px;
}
.users-text {
    color: #3b535f;
    margin-top: 2px;
    margin-bottom: 2px;
}


.red {
    background-color: #ffb5b5;
}
