.cover-image {
    background-size: cover;
    height: 50vh;
    background-image: url('../images/cover.jpg');
}

.banner-image {
    background-size: cover;
    height: 50vh;
}

.mynavbar1 {
    height: 8vh;
}

.navbar-item-style {
    text-shadow: 1px 1px 3px #222;
}

.my-profile {
    -webkit-filter: drop-shadow(3px 3px 3px rgb(71, 71, 71));
    filter: drop-shadow(3px 3px 3px rgb(68, 68, 68));
}

.navbar-custom {
    background-color: #3b535f;
}

.navbar2-custom {
    background-color: transparent;
    height: 7vh;
}

.nav-item {
    width: 150px;
}
.navbar-nav .active a{
    color: white;
    background-color: #80B0CF;
}
.nav-item a:hover {
    color: #3B535F;
}
.nav-item a {
    color: #80B0CF;
}

.main_body{
    margin-left: 12%;
    margin-right: 12%;
}

.main_content{
    min-height: 150px;
}

.search_bar{
    margin-bottom: 3px;
}

.flex{
    width: 100%;
}













.view_item img{
	width: 75px;
}

.view_main{
	background: #fff;
	border-radius: 3px;
	padding: 15px;
}

.list-view .view_item {
	background: #fff;
	border: 1px solid #e2efe1;
    margin-top: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.list-view .view_item:last-child{
	margin-bottom: 0;
}

.list-view .view_item .vi_left{
	margin-right: 25px;
}

.view_item .title{
	font-weight: 600;
}

.view_item .content{
	margin: 5px 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 200;
}

.btn-filter {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left !important;
}
.btn-filter, .btn-search {
    background-color: #3b535f;
    border-color: #3b535f;
    color: white;
}
.btn-filter:hover, .btn-search:hover {
    background-color: #597381;
    border-color: #597381;
    color: white;
}

.checkbox-style {
    background-color: #3b535f;
    color: white;
    height: 40px;
    border-color: #3b535f;
    padding-top: 7px;
}

.padding1-0 {
    padding-right: 0px;
    padding-left: 0px;
}

.markComment{
    color: #f1a952;
    font-size: large;
    font-weight: bold;
}






