.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * 
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-login {
  color: #636363;
  width: 350px;
  margin: 30px auto;
}

.modal-registration {
  color: #636363;
  width: 30vw;
  height: 80vh;
  margin: 30px auto;
}

.modal-registration .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-registration .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-registration h4 {
  text-align: center;
  font-size: 26px;
}
.modal-registration  .form-group {
  position: relative;
}

.modal-registration .form-control:focus {
  border-color: #00ce81;
}
.modal-registration .form-control, .modal-login .btn {
  min-height: 30px;
  border-radius: 3px; 
}
.modal-registration .hint-text {
  text-align: center;
  padding-top: 10px;
}
.modal-registration .btn-close {
  position: absolute;
  top: -5px;
  right: -5px;
  border: none;
  background-color: transparent;
  color:red;
}

.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
.modal-login  .form-group {
  position: relative;
}
.modal-login i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}
.modal-login .form-control {
  padding-left: 40px;
}
.modal-login .form-control:focus {
  border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
  min-height: 30px;
  border-radius: 3px; 
}
.modal-login .hint-text {
  text-align: center;
  padding-top: 10px;
}
.modal-login .btn-close {
  position: absolute;
  top: -5px;
  right: -5px;
  border: none;
  background-color: transparent;
  color:red;
}

.input-field{
  margin-bottom: 2vh;
}

.submitButton{
  text-align: center;
}

#submitButton{
	margin-top: 5px;
  width: 7vw;
}

.loginFromRegistrationLink{
  text-align: center;
  margin-top: 1vh;
}

#errorMessage{
  color: red;
  font-size: smaller;
}
