body {
    background-color: #f2f2f2;
}

.cover-image {
    background-size: cover;
    height: 50vh;
    background-image: url('../images/cover.jpg');
}

.banner-image {
    background-size: cover;
    height: 50vh;
}

.mynavbar1 {
    height: 8vh;
}

.navbar-item-style {
    text-shadow: 1px 1px 3px #222;
}

.my-profile {
    -webkit-filter: drop-shadow(3px 3px 3px rgb(71, 71, 71));
    filter: drop-shadow(3px 3px 3px rgb(68, 68, 68));
}

.navbar-custom {
    background-color: #3b535f;
}

.navbar2-custom {
    background-color: transparent;
    height: 7vh;
}

.nav-item {
    width: 150px;
}
.navbar-nav .active a{
    color: white;
    background-color: #80B0CF;
}
.nav-item a:hover {
    color: #3B535F;
}
.nav-item a {
    color: #80B0CF;
}

.newProductButton{
    margin-left: auto; 
    margin-right: 12%;
    margin-bottom: 2vh;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.table-container{
    margin-top: 5vh;
    padding-bottom: 10vh;
}

.search-bar{
    max-width: 20vw;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 2vh;
}

#search-addon{
    margin-bottom: 2vh;
}

/* Container needed to position the button. Adjust the width as needed */
.editProductHeader {
    position: relative;
    width: 50%;
}

/* Make the image responsive */
.editProductHeader img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.editProductHeader .btn-over-image-edit {
    position: absolute;
    top: 95%;
    left: -30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #80B0CF;
    border-color: #80B0CF;
    color: white;
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.editProductHeader .btn-over-image-edit:hover {
    background-color: #638aa3;
    border-color: #638aa3;
    color: white;
}

/* Style the button and place it in the middle of the container/image */
.editProductHeader .btn-over-image-delete {
    position: absolute;
    top: 95%;
    right: -80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #80B0CF;
    border-color: #80B0CF;
    color: white;
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.editProductHeader .btn-over-image-delete:hover {
    background-color: #638aa3;
    border-color: #638aa3;
    color: white;
}

/* Style the button and place it in the middle of the container/image */
.editProductHeader .btn-over-image-x {
    position: absolute;
    top: 3%;
    right: -60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    border-color: #80B0CF;
    color: white;
    font-size: 16px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.editProductHeader .btn-over-image-x:hover {
    background-color: #dddddd;
    border-color: #dddddd;
    color: white;
}

.map {
    margin-top: 50px;
    height: 400px;
    width: 650px;
    padding-top: 50px;
}

.food-images {
    padding: 15px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
