<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/buyerMyCart.css" rel="stylesheet" />
    <link href="../css/buyerHomepage.css" rel="stylesheet" />
    <link href="../css/buyerRestaurant.css" rel="stylesheet" />

    <title>Moja korpa</title>
</head>
<body>
    <div id="page">

        <!-- Navigation bar -->
        <nav class="navbar mynavbar1 fixed-top navbar-expand-lg navbar-dark p-md-3">
            <div class="container">
                <a href="../html/buyerHomepage.html" class="navbar-brand navbar-item-style">
                    <img src="../images/logo.png">
                </a>
                <div>
                    <div class="mx-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item text-center" style="width: 100px;"><a href="#" class="nav-link text-white navbar-item-style disabled">Kupac</a></li>
                        <li class="nav-item text-center" @click="myProfile">
                            <a href="#" class="nav-link text-white navbar-item-style">
                                <img src="../images/userWhite.png" class="my-profile" height="20px">&ensp;Moj profil
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a href="#" class="nav-link text-white navbar-item-style">
                                <img src="../images/cart.png" class="my-profile">&ensp;Moja korpa
                            </a>
                        </li>
                        <li class="nav-item text-center" v-on:click="logOut">
                            <a href="#" class="nav-link text-white navbar-item-style">
                                <img src="../images/logout.png" class="my-profile" height="20px">&ensp;Izloguj se
                            </a>
                        </li>  
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Cover image -->
        <div class="cover-image w-100 d-flex justify-content-center align-items-center" >
        </div>

        <!-- Content -->
        <div>
            <div class="container py-5 d-grid gap-5">
                <h1 class="myCart">Moja korpa</h1>
                <div class="row">

                    <div v-for="i in cart" class="col-md-9 py-2 ">
                        <div class="card shadow" v-if="i != null && i.product != null">
                            <div class="row">
                                <div class="col-md-3">
                                    <img :src="i.product.imagePath" class="card-img-top food-images" :alt="i.product.name">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <span class="item-name">{{i.product.name}}</span>
                                            <button class="btn float-end" v-on:click="removeItem(i)"><img src="../images/x.png"></button>
                                        </div>
                                        <div class="card-text">
                                            <div class="itemQuantity1">
                                                <span>
                                                    <button class="btn btn-secondary rounded-circle addRemoveItem" v-on:click="decreaseQuantity(i)"
                                                        v-bind:class="{disabled : i.quantity === 1}">
                                                        <img src="../images/minus.png" style="margin-top: -10px;">
                                                    </button>
                                                </span>
                                                <span class="product-quantity">&emsp;{{i.quantity}}&emsp;</span>
                                                <span>
                                                    <button class="btn btn-secondary rounded-circle addRemoveItem" v-on:click="increaseQuantity(i)">
                                                        <img src="../images/plus.png" style="margin-top: -10px;">
                                                    </button>
                                                </span>
                                            </div>
                                            <p class="item-price">{{i.product.price}} RSD</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <p class="text-end my-4 mx-2 totalPrice">
                            <span style="color: #3b535f;">Ukupno: </span>
                            <span style="color: #C75D4F;">{{totalPrice}} RSD</span>
                        </p>
                        <button class="btn btn-primary float-end btn-order" v-on:click="finishOrder">Poruči</button>
                    </div>
                    
                </div>
            </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: #3b535f;">
            © 2021 Copyright:
            <p>Srđan Šuković i Ana Gavrilović</p>
        </div>
    </footer>

    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
	<script src="../js/vue-router.js"></script>
	<script src="../js/axios.js"></script>
    <script src="../app/buyerMyCart.js"></script>
    
</body>
</html>