<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="../css/buyerHomepage.css" rel="stylesheet" />
	<link href="../css/homepage.css" rel="stylesheet" />
	<link href="../css/loginModal.css" rel="stylesheet" />
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<!-- Navigation bar 1  -->
	<div id="cover" >
		<nav class="navbar mynavbar1 fixed-top navbar-expand-lg navbar-dark p-md-3">
			<div class="container">
				<a href="#" class="navbar-brand navbar-item-style">
					LOGO
				</a>
				<div>
					<div class="mx-auto"></div>
					<ul class="navbar-nav">
						<li class="nav-item text-center">
							<a href="#" @click="showLoginModal = true"  class="nav-link text-white navbar-item-style">Prijavite se</a>
						</li>   
						<li class="nav-item text-center">
							<a href="#" @click="showRegistrationModal = true"  class="nav-link text-white navbar-item-style">Registujte se</a>
						</li>  
					</ul>
				</div>
			</div>
		</nav>
	
		<!-- Cover image -->
		<div class="cover-image w-100 d-flex justify-content-center align-items-center" >
		</div>

		<login-modal v-if="showLoginModal" @close="showLoginModal = false">	</login-modal>
		<registration-modal v-if="showRegistrationModal" @close="showRegistrationModal = false">	</registration-modal>

	</div>
	
	<div style="background-color: #f2f2f2;">
		<div class="main_body py-5" id="restaurants" style="background-color: #f2f2f2;">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="row mb-3">
							<div class="col-md-12">
								<button class="btn btn-filter flex" type="button" v-on:click="toggleSortDropdownVisibility" id="sortButton"
									style="background-color: #3b535f; border-color: #3b535f; color: white;">
									Sortiraj po <span style="float: right;"><img src="../images/arrow.png" style="margin-top: 5px"></span>
								</button>
								<div class="list-group flex" v-if="sortDropdownOpen">
									<button class="list-group-item list-group-item-action" v-on:click="sortNameAZ">Naziv restorana A - Z </button>
									<button class="list-group-item list-group-item-action">Naziv restorana Z - A</button>
									<button class="list-group-item list-group-item-action">Lokacija rastuće</button>
									<button class="list-group-item list-group-item-action">Lokacija opadajuće</button>
									<button class="list-group-item list-group-item-action">Ocena rastuće</button>
									<button class="list-group-item list-group-item-action">Ocena opadajuće</button>
								</div>
							</div>
						</div>
	
						<div class="row mb-3">
							<div class="col-md-12">
								<button class="btn btn-filter flex" type="button" v-on:click="toggleRestaurantTypeDropdownVisibility"
									style="background-color: #3b535f; border-color: #3b535f; color: white;">
									Tip restorana <span style="float: right;"><img src="../images/arrow.png" style="margin-top: 5px"></span>
								</button>
								<ul class="list-group flex" v-if="restaurantTypeDropdownOpen">
									<label class="list-group-item">
									<input class="form-check-input me-1" type="checkbox" value="Brza hrana" v-model="checkedRestaurantTypes">
									Brza hrana
									</label>
									<label class="list-group-item">
									<input class="form-check-input me-1" type="checkbox" value="Italijanski" v-model="checkedRestaurantTypes">
									Italijanski
									</label>
									<label class="list-group-item">
									<input class="form-check-input me-1" type="checkbox" value="Roštilj" v-model="checkedRestaurantTypes">
									Roštilj
									</label>
									<label class="list-group-item">
									<input class="form-check-input me-1" type="checkbox" value="Kineski" v-model="checkedRestaurantTypes">
									Kineski
									</label>
									
								</ul>
							</div>
						</div>
	
						<div class="row mb-3">
							<div class="col-md-12">
								<button class="btn btn-filter flex" type="button" v-on:click="toggleRestaurantMarkDropdownVisibility"
									style="background-color: #3b535f; border-color: #3b535f; color: white;">
									Ocena restorana <span style="float: right;"><img src="../images/arrow.png" style="margin-top: 5px"></span>
								</button>
								<ul class="list-group flex" v-if="restaurantMarkDropdownOpen">
									<label class="list-group-item">
									<input class="form-check-input me-1" type="checkbox" value="4-5" v-model="checkedRestaurantMarks">
									4 - 5
									</label>
									<label class="list-group-item">
									<input class="form-check-input me-1" type="checkbox" value="3-4" v-model="checkedRestaurantMarks">
									3 - 4
									</label>
									<label class="list-group-item">
									<input class="form-check-input me-1" type="checkbox" value="2-3" v-model="checkedRestaurantMarks">
									2 - 3
									</label>
									<label class="list-group-item">
									<input class="form-check-input me-1" type="checkbox" value="1-2" v-model="checkedRestaurantMarks">
									1 - 2
									</label>
									<label class="list-group-item">
									<input class="form-check-input me-1" type="checkbox" value="0-1" v-model="checkedRestaurantMarks">
									0 - 1
									</label>
									
								</ul>
							</div>
						</div>
	
						<div class="row mb-3">
							<div class="col-md-12">
								<div class="form-check checkbox-style rounded" style="padding-left: 35px">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" v-model="onlyOpenRestaurants">
									<label class="form-check-label" for="flexCheckDefault">
									  Samo otvoreni restorani
									</label>
								  </div>
							</div>
						</div>
	
					</div>
	
					<div class="col-md-9">
						<div class="row search_bar">
							<div class="col-md-5" style="padding-left: 3px; padding-right: 3px;">
								<input type="text" id="restaurantName" placeholder="Naziv restorana" class="form-control flex">
							</div>
							<div class="col-md-5" style="padding-left: 3px; padding-right: 3px;">
								<input type="text" id="location" placeholder="Lokacija" class="form-control flex">
							</div>
	
							<div class="col-md-2" style="padding-left: 3px; padding-right: 3px;">
								<button type="button" id="searchButton" class="btn btn-search flex" 
									style="background-color: #3b535f; border-color: #3b535f; color: white;">
								<span><img src="../images/search.png"></span>&ensp;&nbsp;Pretraži
								</button>
							</div>
						</div>
	
						<div class="row main_content">
							
							<div class="col-md-12" style="padding-right: 2px; padding-left: 2px;">
                            
								<div class="container" style="padding-right: 0; padding-left: 0;">
									<div class="row">
	
										<div v-for="r in restaurants" v-if="restaurants !== null">
											<div class="card shadow my-2" v-on:click="seeRestaurantDetails(r)" v-if="filterSatisfied(r)">
												<div class="row p-4">
													<div class="col-md-2" style="padding-left: 10px; padding-right: 10px;">
														<img :src="r.logoPath" alt="r.name" class="mx-2 restaurant-images">
													</div>
													<div class="commentContent col-md-10" style="padding-left: 50px; padding-right: 0px;">
														<div class="row">
															<div class="col-md-10">
																<span class="restaurant-name-card">{{r.name}}</span>
															</div>
															<div class="col-md-2">
																<span><img src="../images/star.png"></span>
																<span class="markComment">{{r.mark}}</span>
															</div>
														</div>
														<div class="row">
															<p style="margin-top: 10px;">{{r.type}}</p>
															<p v-if="isWorking(r)" style="margin-top: -15px;">Otvoreno</p>
															<p v-else style="margin-top: -15px;">Zatvoreno</p>
														</div>
													</div>
												</div>
											</div>
										</div>
	
									</div>
								</div>
	
							</div>

						</div>
	
					</div>
	
				</div>
			</div>
	
	
		</div>
	
	</div>
	
	

	<!-- Footer -->
	<footer class="bg-light text-center text-lg-start">
		<div class="text-center p-3" style="background-color: #e0e0e0; color: #3b535f;">
			© 2021 Copyright:
			<p>Srđan Šuković i Ana Gavrilović</p>
		</div>
	</footer>
	




	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="../js/jquery-3.3.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../bootstrap/js/bootstrap.min.js"></script>

	<script src="../js/vue.js"></script>
	<script src="../js/axios.js"></script>
	<script src="../app/app.js"></script>
	<script src="../app/homepage.js"></script>
	<script src="../components/loginModal.js"></script>
	<script src="../components/registrationModal.js"></script>
</body>

</html>